:root{
    --primary-color:#8B2E2E;
}

.navbar{
    background-color:var(--primary-color) !important;
}

.navbar-brand,
.nav-link{
    color:white !important;
}

.navbar-nav .nav-link:hover{
    color:#f8d7da !important;
}

.navbar-nav .nav-link.active{
    font-weight:bold;
    border-bottom:2px solid white;
}

.navbar-nav .text-danger{
    color:#ffd6d6 !important;
}


.card{

    border:none;

    border-radius:12px;

}

.card h4{

    font-weight:600;

}

#skillsContainer .badge{

    margin-right:8px;

    margin-bottom:8px;

    font-size:14px;

}

.project-card,

.certification-card,

.activity-card{

    border:1px solid #dee2e6;

    border-radius:10px;

    padding:15px;

    margin-bottom:15px;

}

.project-card a{

    text-decoration:none;

}

.project-card a:hover{

    text-decoration:underline;

}

.bg-brown{
    background-color: #8B2E2E;
}